body{

    background:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),Linear-gradient(127deg, black, black 70.71%),Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

}
button:hover {
background-color: red ;

}
#entete{
    color: white;
    display: inline-block;
margin: 30px;
padding-bottom: 60px;
font-weight:bold;
font-size: 30px;
}
}

   }

p:hover{

    display: none;
}

#titvid{
    color: white;
}

.titrebas{

    color: white;
    margin: 20px;
    font-size: 20px;
font-weight:bold;

}

   
#ta{
    height: 300px;
    width: 1000px;
    max-height: 300px;
    max-width: 1000px;
}

#image1{

background-image: url(images/image1.jpg);
height: 250px;
width: 20px;
display: flex;
margin-left: 2%;
justify-content: center;
align-items: center;
}


#image2{

    background-image: url(images/image2.png);
    height: 250px;
    width: 20%;
    display: flex;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    }


    #image3{

        background-image: url(images/image\ 3.png);
        height: 250px;
        width: 20%;
        display: flex;
        margin-left: 2%;
        justify-content: center;
        align-items: center;
        }
        .bt{
            display:flex;}
        
            button{
        
           display: none;
        }
        

}

